.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    color: rgb(115, 115, 115);
    font-size: 14px;
}

.page-title {
    margin: 0;
    margin-bottom: 20px;

    font-size: 50px;
    font-weight: 300;
}